<form action="/" method="post">
  <input name="number">
</form>

{% extends "layout.html" %}

{% block body %}


    <script>
      const cells = document.querySelectorAll('.cell');
      function startGame(){

        for (var i = 1; i <= 42; i++){
          document.getElementById(i).innerText=''
          document.getElementById(i).addEventListener('click', turnClick, false);
          }

        {% for move in player_1_list %}
          document.getElementById({{move}}).innerText='X'
        {% endfor %}

        {% for move in player_2_list %}
          document.getElementById({{move}}).innerText='O'
        {% endfor %}

        }

      function turnClick(square){
        var form = document.createElement("form");
        var move = document.createElement("input");

        form.method = "POST";
        form.action = "/";

        move.value = square.target.id;
        move.name = "number";
        form.appendChild(move);

        document.body.appendChild(form);
        form.submit();
      }

    startGame();

    </script>
{% endblock %}
